.review button {
    margin-bottom: 0.3rem;
    border: none;
    background-color: inherit;
    padding: initial;
    margin-left: 0.7rem;
}

.review ul {
    text-align: left;
}

.accept,
.reject {
    font-weight: bold;
}

.accept {
    color: rgb(25, 88, 25);
}

.reject {
    color: rgb(107, 2, 2);
}
