.review button {
    margin-bottom: 0.3rem;
    border: none;
    background-color: inherit;
    padding: initial;
    margin-left: 1rem;
}

.review ul {
    text-align: left;
}

.review table {
    background-color: white;
}

.review td {
    text-align: center;
}

.review td:nth-child(1) {
    text-align: left;
    margin: 0;
}

.accept,
.reject {
    font-weight: bold;
}

.accept {
    color: rgb(25, 88, 25);
}

.reject {
    color: rgb(107, 2, 2);
}
