/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
CWL207.code-workspace
.vscode/
.DS_Store
public/js
public/css
_ide_helper.php
error_log
local/
.php_cs.cache
coverage/
_ide_helper