/* came with laravel */

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* own styles */

$landing-background: rgb(2, 151, 126);
$lighter-landing: rgb(2, 133, 111);
$dark-landing: rgb(4, 100, 124);
$highlight: rgb(201, 15, 93);
$warning: rgb(92, 2, 39);
$subtle-gray: rgb(73, 73, 73);
$cell-highlight: rgb(211, 224, 222);
$background: rgb(251, 249, 249);
$main: rgb(4, 100, 124);

$font: 'Lato', sans-serif;
