.button {
    border: none;
    background-color: inherit;
    padding: initial;
    font-weight: bold;
    cursor: pointer;
}

.danger {
    color: rgb(153, 20, 53);
}

.approve {
    color: rgb(50, 133, 108);
}
