@use '../../../sass/variables';

$map-width: 800px;
$map-height: 500px;

.map,
.mapContainer {
    width: $map-width;
    height: $map-height;
}

.map {
    border: 2px solid;
}

.margin {
    padding: 4rem;
}

.page {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4rem;
}

.grid {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
}

.flexCol {
    flex-direction: column;
}

.info {
    list-style-type: none;
    padding-left: 0;
}

.label {
    font-weight: bold;
}

.value {
    font-weight: normal;
    padding-left: 0.25rem;
}

.cancelButton {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 451; // arbitrary number arrived at through trial and error (alas)
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
    border: 2px rgba(0, 0, 0, 0.2) solid;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.9rem;
    display: none;
}

@media (max-width: 800px) {
    .cancelButton {
        display: initial;
    }
}

.menuBox {
    font-size: 0.8rem;
    margin: 0.5rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    // position: absolute;
    // left: 0;
    // top: 14%;
}

#mobile-status-button {
    background: white;
    padding: 0.6rem 1rem 0.4rem;
    border: 2px solid #b0b0b0;
    border-radius: 5px;
    font-weight: bold;
    color: #515151;
    cursor: pointer;

    &:hover {
        background: #f4f2f2;
    }
}

.mobile-only {
    display: none;
}

@media (max-width: 800px) {
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapContainer {
        justify-content: flex-end;
        height: 100vh;
        width: 100vw;
    }

    .grid {
        margin: 0.5rem 15vw;
    }

    .mobile-fullscreen-visible {
        height: 100vh;
        width: 100vw;

        &.mapContainer {
            position: absolute;
            height: 100vh;
            width: 100vw;
            z-index: 1;
            top: 0;
            left: 0;
        }
    }
    .map {
        height: 100vh;
        width: 100vw;
    }

    .mobile-invisible {
        visibility: hidden;
    }

    .mobile-only {
        display: initial;
    }

    #map-menu-box button {
        display: block;
        margin: auto;
    }
}

.cityPicker {
    border: 1px solid variables.$main;
    border-radius: 4px;
    width: 100%;
    // margin: 5px 2px;
    margin: 5px 0;
}

.datepicker {
    border: 1px solid variables.$main;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

.controls {
    margin: 2rem 0 1rem 0;
}
