@use '../../../sass/variables';

$site-color: #04647c;
$text-color: #242c2e;
$content-background: #f1ededd6;
$site-background: variables.$background;
$width: calc(100% - 5rem);
$transition: all 0.2s ease;

.div {
    margin: 1rem auto;
    width: $width;
    outline: solid $site-color 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
}

.label {
    grid-column-start: 2;
    margin: auto;
    font-size: 1rem;
}

.content {
    overflow: hidden;
    padding: 0 1em;
    max-height: 0;
    opacity: 0;
    transition: $transition;
    margin: -1rem auto 0 auto;
    width: $width;
    background-color: $content-background;
    box-shadow: 0px 1px 4px 0px #e6e0dd;
    color: $text-color;

    &.open {
        opacity: 1;
        padding: 3rem 0.5rem 3.5rem 0.5rem;
    }
}

.button {
    margin-left: auto;
    margin-right: 3px;
    border: none;
    background-color: $site-background;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-50deg);
    transition: $transition;

    &.open {
        transform: rotate(45deg);
    }
}
